In [1]:
import pandas as pd
import numpy as np
import glob
import matplotlib.pyplot as plt

In [2]:
glob.glob('*.csv')

['New_books.csv']

## Load data

In [3]:
cleaned_books_df = pd.read_csv('New_books.csv')
cleaned_books_df.head()

,Place of Publication,Date of Publication,Publisher,Title,Author,Flickr URL
0,London,1879,S. Tinsley & Co.,Walter Forbes,AA,http://www.flickr.com/photos/britishlibrary/ta...
1,London,1868,Virtue & Co.,All For Greed,A. A A.,http://www.flickr.com/photos/britishlibrary/ta...
2,London,1869,"Bradbury, Evans & Co.",Love The Avenger,A. A A.,http://www.flickr.com/photos/britishlibrary/ta...
3,London,1851,James Darling,"Welsh Sketches, Chiefly Ecclesiastical, To The...",E. S A.,http://www.flickr.com/photos/britishlibrary/ta...
4,London,1857,Wertheim & Macintosh,"The World In Which I Live, And My Place In It",E. S A.,http://www.flickr.com/photos/britishlibrary/ta...

In [4]:
cleaned_books_df.describe()

,Place of Publication,Date of Publication,Publisher,Title,Author,Flickr URL
count,8287,7320,4092,8274,6509,8287
unique,1192,403,1989,8031,4949,8287
top,London,1897,Macmillan & Co.,Poems,William Shakespeare,http://www.flickr.com/photos/britishlibrary/ta...
freq,4219,174,85,10,48,1

## 1. Get the top 5 publishers and their published number.
To understanding Market Dynamics, identifying the top publishers helps understand the publishing market's dynamics during a specific period. It can indicate which publishers were dominant and how the publishing landscape might have been shaped by their activities.

In [5]:
cleaned_books_df['Publisher'].value_counts()

Publisher
Macmillan & Co.        85
London                 69
Privately printed      53
Longmans & Co.         52
Hurst & Blackett       51
                       ..
Archibald Constable     1
J. Heaton & Son         1
Bowen-Merrill Co.       1
Robert Triphook         1
Mackenzie & Dent        1
Name: count, Length: 1989, dtype: int64

In [6]:
n = 5
publisher_list = cleaned_books_df['Publisher'].value_counts()[:n]
publisher_list

Publisher
Macmillan & Co.      85
London               69
Privately printed    53
Longmans & Co.       52
Hurst & Blackett     51
Name: count, dtype: int64

In [7]:
publisher_list.index, publisher_list.to_list()

(Index(['Macmillan & Co.', 'London', 'Privately printed', 'Longmans & Co.',
        'Hurst & Blackett'],
       dtype='object', name='Publisher'),
 [85, 69, 53, 52, 51])

In [ ]:
plt.bar(publisher_list.index,publisher_list.to_list())

In [ ]:
# Creating a bar graph
plt.figure(figsize=(8,6))

#load your data
#Your code:

# Annotating each bar with the corresponding most publish number of items
# Your Code:

plt.legend()
plt.title('Get the top 5 publishers and their published number.',fontsize=18)
plt.xlabel('Publisher',fontsize=17)
plt.ylabel('Number of Published Items',fontsize=16)
plt.grid(axis='y')

plt.show()

## Practice 1
### 1.1 Identify the top five publishers with the greatest number of books published. 
### 1.2 Ascertain the year in which each of these publishers achieved their highest sales, along with the total number of books they published in that particular year.

In [8]:
publisher_list

Publisher
Macmillan & Co.      85
London               69
Privately printed    53
Longmans & Co.       52
Hurst & Blackett     51
Name: count, dtype: int64

In [9]:
# Selecting the data for the chosen publisher "Macmillan & Co."
cleaned_books_df[cleaned_books_df['Publisher'] == 'Macmillan & Co.']

,Place of Publication,Date of Publication,Publisher,Title,Author,Flickr URL
102,London,1886,Macmillan & Co.,"The Cruise Of Her Majesty's Ship “bacchante,” ...",NaN,http://www.flickr.com/photos/britishlibrary/ta...
210,London,1876,Macmillan & Co.,Mandalay To Momien: A Narrative Of The Two Exp...,John Anderson,http://www.flickr.com/photos/britishlibrary/ta...
239,London,1887,Macmillan & Co.,The New Antigone. A Romance,NaN,http://www.flickr.com/photos/britishlibrary/ta...
306,London,1886,Macmillan & Co.,King Arthur. Not A Love Story,NaN,http://www.flickr.com/photos/britishlibrary/ta...
352,London,1896,Macmillan & Co.,Emma. New Editio,Jane Austen,http://www.flickr.com/photos/britishlibrary/ta...
...,...,...,...,...,...,...
7492,London,1884,Macmillan & Co.,Miss Tommy. A Mediaeval Romance,NaN,http://www.flickr.com/photos/britishlibrary/ta...
7536,London,1888,Macmillan & Co.,Coaching Days And Coaching Ways ... With Illus...,William Outram Tristram,http://www.flickr.com/photos/britishlibrary/ta...
7577,London,1884,Macmillan & Co.,"Samoa A Hundred Years Ago And Long Before, Tog...",George Turner,http://www.flickr.com/photos/britishlibrary/ta...
8175,Cambridge,1857,Macmillan & Co.,A Long Vacation Ramble In Norway And Sweden,NaN,http://www.flickr.com/photos/britishlibrary/ta...
8205,London,1893,Macmillan & Co.,Strolling Players. A Harmony Of Contras,Charlotte Mary Yonge,http://www.flickr.com/photos/britishlibrary/ta...

In [ ]:

# Creating a bar graph
plt.figure(figsize=(8,6))

#Your code:

# Annotating each bar with the corresponding most publish number of items
# Your code:


plt.show()

## 2. Get the 5 most published place
Reason: For contemporary publishers, marketers, and authors, understanding historical publishing centers can provide insights into established markets and potential opportunities for new ventures or expansions.

In [ ]:
cleaned_books_df.head()

In [ ]:
cleaned_books_df.describe()

In [ ]:
#create publish_place_data
def get_publish_place_data(n,df):
    #n: Number of target searches
    #df: input dataframe
    # Your code:

    
    return dic
    
get_publish_place_data(5,cleaned_books_df)

In [ ]:
# Pie Chart Analysis: 

# Sample data provided earlier (assuming the same structure as the actual dataset)
place_of_data = get_publish_place_data(5,cleaned_books_df)

# Extracting data for pie chart
places = list(place_of_data.keys())
publications = [place_of_data[place] for place in places]
print(places)
print(publications)


# Creating a pie chart
plt.figure(figsize = (8,8))
# Your Pie chart code:


plt.title('Distribution of Publications by Top 5 places', fontsize =20)
plt.show()

### 3.1 Demo for  `.groupby`  function

In [10]:
# Sample DataFrame
df = pd.DataFrame({'Category': ['A', 'B', 'A', 'B'],
                   'Values': [10, 20, 30, 40]})

df

  Category  Values
0        A      10
1        B      20
2        A      30
3        B      40

In [11]:
# Grouping by 'Category' and calculating the size of each group
grouped = df.groupby('Category').size()

print(grouped)

Category
A    2
B    2
dtype: int64

In [12]:
# Grouping by 'Category' and calculating the mean of each group
grouped = df.groupby('Category').sum()

print(grouped)

          Values
Category
A             40
B             60

## 3. Show the yearly trend in the number of publications

### 3.2 Use `.groupby` on Books data

In [ ]:
cleaned_books_df.head()

In [ ]:
cleaned_books_df['Date of Publication']

In [ ]:
yearly_publication_counts = cleaned_books_df.groupby('Date of Publication').size()
yearly_publication_counts

In [ ]:
for i in yearly_publication_counts.index:
    print(i,type(i))

In [ ]:
for i in yearly_publication_counts.index:
    print(i,clean_year(i))

In [ ]:
def clean_year(year):
    
    if year == 'nan':
        return '0'
    if year[0]!='1':
        year=year[year.find('1'):]
    if ' ' in year:
        year=year[:year.find(' ')]
    if '/' in year:
        year=year[:year.find('/')]
    if '?' in year:
        year = year[:year.find('?')]
    if ']' in year:
        year = year[:year.find(']')]
    if '.' in year:
        year = year[:year.find('.')]

    if year.isdigit():
        year = int(year)
    else:
        year = 30

    return year

cleaned_books_df['Date of Publication'] = cleaned_books_df['Date of Publication'].astype(str)
cleaned_books_df['Date of Publication'] = cleaned_books_df['Date of Publication'].apply(clean_year)
cleaned_books_df['Date of Publication'] = cleaned_books_df['Date of Publication'].astype(int)
cleaned_books_df.head()

### Get line plot

In [ ]:
# Scatter Plot Analysis: Year of Publication vs. Number of Publications

# Grouping the data by 'Date of Publication' to count the number of publications each year
testdata = cleaned_books_df[cleaned_books_df['Date of Publication']>1000]
yearly_Publication_count = testdata.groupby('Date of Publication').size()

# Sorting the data by year (index of the grouped data)
sorted_years = yearly_Publication_count.sort_index()

# Creating a scatter plot
plt.figure(figsize=(10,6))
plt.scatter(sorted_years.index,sorted_years,color='blue')


plt.title('Year of Publication vs. Number of Publications',fontsize=18)
plt.xlabel('Year of Publication',fontsize=17)
plt.ylabel('Number of publications',fontsize=16)
plt.grid(axis='y')

plt.show()

# A line graph to show the yearly trend in the number of publications.

## Practice 2
### Identify the top five publishers with their publicated books during 1800 - 1900. (line graph)

In [ ]:
publish_list = cleaned_books_df['Publisher'].value_counts()[:5]
publish_list

In [ ]:
dfA = cleaned_books_df[cleaned_books_df['Publisher'] ==publish_list.index[0]]
filerdf = dfA[(dfA['Date of Publication']>=1800) & (dfA['Date of Publication']<=1900)]
yearly_counts = filerdf.groupby('Date of Publication').size()

yearly_counts.sort_index()

In [ ]:
def filter_topX_publisher_in_1800_1900(n,df):
    #n: Number of target searches
    #df: input dataframe
    #Your code:
    
    
    return dic_res

filter_topX_publisher_in_1800_1900(5,cleaned_books_df)

In [ ]:
# Extracting publishers, publish years, and publish items
publisher_data_dic = filter_topX_publisher_in_1800_1900(5,cleaned_books_df)

# Creating a line graph
plt.figure(figsize=(10, 6))

for pub,years_data in publisher_data_dic.items():
#     print(pub,years_data)
    plt.plot(years_data.index, years_data, '-', label=pub)

# plt.plot(yearly_publication_counts.index, yearly_publication_counts, color='blue')
plt.title('Year of Publication vs. Number of Publications')
plt.xlabel('Year of Publication')
plt.ylabel('Number of Publications')
# plt.xticks([1500,1550,1600,1650,1700,1750,1800,1850,1900],
#            ['1890','1891','1892','1893','1894','1895','1896','1897','1898',],fontsize = 15)
plt.legend()
plt.grid(axis='y')
plt.show()

### Compute the cumulative sum of Publications. (Please watch the tutorial)