# Read Damaged Data

Data interpretation varies with format, necessitating organization into dataframes for machine readability. This step transforms diverse data into a structured, table-like format, facilitating manipulation and analysis. It's crucial for identifying trends and ensuring data quality, thus setting the foundation for subsequent analytical and predictive tasks in a unified, efficient manner.

In [ ]:
import os
os.listdir()

In [ ]:
import glob
csvfiles = glob.glob("*.csv")
csvfiles

## 1.1 Read CSV data

In [ ]:
import pandas as pd

file_path = 'us_tourism.csv'

# Read the CSV file
dataframe_csv1 = pd.read_csv(file_path)

# Display the first few rows of the DataFrame
dataframe_csv1.head(5)

## 1.2 Handle damaged csv data

In [ ]:
file_path2 = 'us_tourism2damage.csv'

# Read the CSV file

df = pd.read_csv(file_path2)

# # Display the first few rows of the DataFrame
df

### Cannot read damage file by pandas

We need to read file line by line.

In [ ]:
import csv

# Replace 'your_file.csv' with the path to your CSV file
file_path = 'us_tourism2damage.csv'

#read line by line, and filter the bad data
a = 0
title = []
gooddata = []
baddata= []

# Your code:
with open(file_path, mode='r', encoding='utf-8') as file:
    csv_reader = csv.reader(file)
    for row in csv_reader:
        if a == 0:
            title = row
        a += 1
        if len(row) == 8 and a != 1:
            gooddata.append(row)
        else:
            baddata.append(row)

In [ ]:
gooddata

In [ ]:
gooddf = pd.DataFrame(gooddata,columns = title)
gooddf

## 2.1 Read json data

In [ ]:
jsonfiles = glob.glob("*.json")
jsonfiles

In [ ]:
# Reading the JSON file
df = pd.read_json(jsonfiles[2],lines = True)

# Displaying the DataFrame
df.head(5)

## 2.2 Handle damaged json Data

In [ ]:
# Reading the JSON file
dfDamage = pd.read_json(jsonfiles[0],lines = True)

# Displaying the DataFrame
dfDamage.head(5)

### 2.2.1 Simple demo

In [ ]:
import json

# Example JSON data as a list of strings (each string is a JSON object)
json_data = [
    '{"name": "Alice", "age": 25, "city": "New York"}',
    '{"name": "Bob", "age": 30, "city": "San Francisco"}',
    '{"name": "Charlie", "age": 35}',
    '{"name": "Bib", "age": , "city": "Seattle"}',
    '{"name": "Bcob", "city": "Beijing"}',
    '{"name": "Bob", "xxxx": 30, "city": "San Francisco"}'
]

In [ ]:
data = []
for json_str in json_data:
    try:
        # Attempt to parse each line as JSON
        json_obj = json.loads(json_str)

        # Handle missing or extra data
        if 'name' not in json_obj:
            json_obj['name'] = None
        if 'age' not in json_obj:
            json_obj['age'] = None
        if 'city' not in json_obj:
            json_obj['city'] = None

        # Append the valid JSON object to the list
        data.append(json_obj)
    
    except json.JSONDecodeError:
        print(f'Invalid Json data')

# data
# Convert the list of dictionaries to a pandas DataFrame (optional)
dfjson= pd.DataFrame(data)

#print
dfjson[['name','age','city']]

### 2.2.3 Handle the damaged json file

In [ ]:
file_path = 'damaged.json'  # Replace with your file path
data = []
title = ['Region', 'State', 'Attraction', 'Description', 
 'Food Specialty', 'Food Description', 'Best Time to Visit', 'Notable Events']

with open(file_path, 'r') as file:
    for line in file:
        try:
            # Parse the JSON string
            json_obj = json.loads(line)

            # Handle missing data by setting a default value
            # Your code
            for key in title:
                if key not in json_obj:
                    json_obj[key] = None
                
            
            # Append the processed JSON object to the list
            data.append(json_obj)
        except json.JSONDecodeError:
            print(f'Invalid Json data: {line}')
            

# Convert the list of dictionaries to a pandas DataFrame (optional)
df = pd.DataFrame(data)

# Display the DataFrame
df

## 3.1 Read Txt data

Examples for **"split"**
```python
text.split(" ")

In [ ]:
h = 'Region: Northeast State: New York'
result_h = h.split(" ")
result_h

In [ ]:
file_path = 'unstructureddata.txt'  # use your file path

# Function to process a block of text and return a dictionary
def process_block(block):
    entity = {}
    for item in block: 
        key, value = item.split(":")
        entity[key] = value
    return entity

# Read and process the file
current_data= []
result= []
with open(file_path,'r') as file:
    for line in file:
        # Your code
        if line.strip() == "":
            dfcontent = process_block(current_data)
            result.append(dfcontent)
            current_data = []
        else:
            current_data.append(line.strip())
            
print(result[:3])

In [ ]:
# # Convert the list of dictionaries into a DataFrame
df = pd.DataFrame(result)
# # Display the DataFrame
df

## 3.2 Handle damaged txt data

In [ ]:
import pandas as pd

In [ ]:
"""Your turn -- Class practice"""
file_path = 'damaged_data.txt'  # use your file path

# Define the expected keys
expected_keys = ["Region", "State", "Attraction", "Description", 
                 "Food Specialty", "Food Description", 
                 "Best Time to Visit", "Notable Events"]


# Function to process a block of text and return a dictionary
def process_block_with_damaged(block):
    entity = {key: None for key in expected_keys}
    #Your code:
    for item in block:
        if ": " in item:
            key, value = item.split(": ")
            if key in entity:
                entity[key] = value
    
    return entity

# Read and process the file
current_data= []
result= []
with open(file_path,'r') as file:
    for line in file:
        # Your code:
        if line.strip() == "":
            processed_data = process_block_with_damaged(current_data)
            result.append(processed_data)
            current_data = []
        else:
            current_data.append(line.strip())

# Convert the list of dictionaries into a DataFrame
dfnew = pd.DataFrame(result)

# Display the DataFrame
dfnew

### Practice üß™ Lab: Cleaning ‚ÄúDamaged‚Äù Data with pandas

In this practice, you‚Äôll practice detecting and fixing common data problems:

- Rows with **missing fields**
- Rows with **extra fields** (e.g., too many columns due to extra commas)
- **Wrong types** (strings in numeric columns)
- **Out-of-range values** (e.g., impossible GPA)
- Empty strings vs true missing values (`NaN`)

You will:  
1) Load a deliberately ‚Äúdamaged‚Äù CSV,  
2) Identify & filter bad rows,  
3) Coerce types, and  
4) Produce a clean DataFrame ready for analysis.

In [ ]:
# üöß Create a deliberately ‚Äúdamaged‚Äù CSV (run this cell once)
source_csv = """Student_ID,Name,Major,Credits,GPA,Grad_Year
1001,Alice,Computer Science,120,3.85,2026
1002,Bob,Math, ,3.10,2025
1003,Charlie,Physics,98,3O,2024
1004,Diana,Economics,140,4.7,2023
1005,Ed,Computer Science,129,N/A,2027
1006, ,Biology,88,2.95,2028
1007,Grace,Physics,101,3.40,2029,EXTRA_TOKEN
,Henry,Math,64,2.70,2026
1009,Ivy,,110,3.20,2025
1010,Jack,Economics,215,3.50,2035
1011,Kate,Chemistry,95,3.00,
1012,Liam,Computer Science,NaN,3.60,2024
1013,Mia,Math,77,,2025
1014,Noah,Physics,85,3.25,2027
1015,Olivia,Economics,,2.80,2026
"""

In [ ]:
output_path = "damaged_students.csv"
with open(output_path, "w", encoding="utf-8") as f:
    f.write(source_csv)
print(f"Wrote damaged CSV to: {output_path}")

Wrote damaged CSV to: damaged_studesnts.csv

In [7]:
import pandas as pd
import csv

file_path = 'damaged_students.csv'

index = 0
title = []
good_data = []
bad_data = []

with open(file_path, mode='r', encoding='utf-8') as file:
    csv_reader = csv.reader(file)
    for row in csv_reader:
        if index == 0:
            title = row
        index += 1
        if len(row) == 6 and index != 1:
            good_data.append(row)
        else:
            bad_data.append(row)

In [9]:
gooddf = pd.DataFrame(good_data,columns = title)
gooddf

   Student_ID     Name             Major Credits   GPA Grad_Year
0        1001    Alice  Computer Science     120  3.85      2026
1        1002      Bob              Math          3.10      2025
2        1003  Charlie           Physics      98    3O      2024
3        1004    Diana         Economics     140   4.7      2023
4        1005       Ed  Computer Science     129   N/A      2027
5        1006                    Biology      88  2.95      2028
6                Henry              Math      64  2.70      2026
7        1009      Ivy                       110  3.20      2025
8        1010     Jack         Economics     215  3.50      2035
9        1011     Kate         Chemistry      95  3.00
10       1012     Liam  Computer Science     NaN  3.60      2024
11       1013      Mia              Math      77            2025
12       1014     Noah           Physics      85  3.25      2027
13       1015   Olivia         Economics          2.80      2026