In [ ]:
import pandas as pd
import numpy as np

In [ ]:
import glob
glob.glob("*.csv")

## Dropping unnecessary columns

In [ ]:
df = pd.read_csv('BL-Flickr-Images-Book.csv')
df.head()

In [ ]:
df.columns

In [ ]:
to_drop = ['Edition Statement',
           'Corporate Author',
           'Corporate Contributors',
           'Former owner',
           'Engraver',
           'Contributors',
           'Issuance type',
           'Shelfmarks']

#Please drop the to_drop columns from dataframe
#Your code:

## Setting the index of the dataset

In [ ]:
#Your code:

## Cleaning columns using the `.apply` function

### Simple Demo

In [ ]:
# Sample DataFrame
data_df = pd.DataFrame({
    'column1': [1, 2, 3],
    'column2': [4, 5, 6],
    'column3': [7, 8, 9],
    'column4': [10, 11, 12]
})
data_df

In [ ]:
def process_row(row):
    # Example transformation: create a new value based on existing columns
    # Your code:
    
    # Return the modified row
    return row
    
# Apply the function to each row
# Your code:

# Display the transformed DataFrame
data_New

### Handle BL-Flickr-Images-Book.csv data

In [ ]:
Title_to_string = df.Title.to_list()
Ut = Title_to_string[:10]
Ut

### Book Title
'`Walter Forbes.` [A novel.] By A. A',

 '`All for Greed.` [A novel. The dedication signed: A. A. A., i.e. Marie Pauline Rose, Baroness Blaze de Bury.]',
 
 '`Love the Avenger`. By the author of “All for Greed.” [The dedication signed: A. A. A., i.e. Marie Pauline Rose, Baroness Blaze de Bury.]',
 
 '`Welsh Sketches, chiefly ecclesiastical, to the close of the twelfth century`. By the author of “Proposals for Christian Union” (E. S. A. [i.e. Ernest Appleyard])',
 
 '[`The World in which I live, and my place in it.` By E. S. A. [i.e. Letitia Willgoss Stone.] Edited by ... J. H. Broome.]',
 
 '[`The World in which I live, and my place in it.` By E. S. A. [i.e. Letitia Willgoss Stone.] Edited by ... J. H. Broome.]',
 
 '`Lagonells.` By the author of Darmayne (F. E. A. [i.e. Florence Emily Ashley])',
 
 '`The Coming of Spring, and other poems.` By J. A. [i.e. J. Andrews.]',
 
 '`A Warning to the inhabitants of England, and London in particular ... ` By M. A. [i.e. Mary Adams.]',
 
 '`A Satyr against Vertue. (A poem: supposed to be spoken by a Town-Hector. `[By John Oldham. The preface signed: T. A.])'

### Please clean up the book title and save the results to a new dataframe table

In [ ]:
def clean_title(title):
    
    if title == 'nan':
        return 'NaN'
    
    if title[0] == '[':
        title = title[1: title.find(']')]
        
    if 'by' in title:
        title = title[:title.find('by')]
    elif 'By' in title:
        title = title[:title.find('By')]
        
    if '[' in title:
        title = title[:title.find('[')]

    return title

#Get the clean title
df['Title'] = df['Title'].apply(clean_title)
df.head()

## Using `.str`,  `np.where` methods to clean columns

### Simple demo

In [ ]:
a = np.arange(10)
a

numpy.where(condition, [x, y, ]/)
When only condition is provided, this function is a shorthand for np.asarray(condition).nonzero(). Using nonzero directly should be preferred, as it behaves correctly for subclasses. The rest of this documentation covers only the case where all three arguments are provided.

In [ ]:
np.where(a < 5, a, 10*a)

In [ ]:
#4157862 and 4159587
df['Place of Publication'].to_list()

In [ ]:
pub = df['Place of Publication']
df['Place of Publication'] = np.where(pub.str.contains('London'), 'London',df['Place of Publication'])
df.head()

## Renaming columns and skipping rows

In [ ]:
olympics_df = pd.read_csv('olympics_part1.csv')
olympics_df.head()

In [ ]:
olympics_part1_df = pd.read_csv('olympics_part1.csv', skiprows = 1, header = 0)
olympics_part1_df.head()

In [ ]:
new_names =  {'Unnamed: 0': 'Country',
              '? Summer': 'Summer Olympics',
              '01 !': 'Gold',
              '02 !': 'Silver',
              '03 !': 'Bronze', }
olympics_part1_df.rename(columns = new_names, inplace = True)
olympics_part1_df

In [ ]:
olympics_part2_df = pd.read_csv('olympics_part2.csv', skiprows = 1, header = 0)
olympics_part2_df.head()

In [ ]:
olympics_part2_df.rename(columns = new_names, inplace = True)
olympics_part2_df

In [ ]:
olympics_part1_df

In [ ]:
olympics_part2_df

### Try to merge to dataframe via .merge

In [ ]:
olympics_part1_df.merge(olympics_part2_df,left_on='Country')

### Merge two tables

In [ ]:
newdf = pd.concat([olympics_part1_df, olympics_part2_df])
newdf

In [ ]:
newdf.reset_index(drop=True, inplace = True)
newdf

### Dataframe Part3

In [ ]:
olympics_df = pd.read_csv('olympics_part3.csv')
olympics_df.head()

In [ ]:
olympics_part3_df = pd.read_csv('olympics_part3.csv', skiprows = 1, header = 0)
olympics_part3_df.head()

In [ ]:
new_names_2 =  {'Unnamed: 0': 'Country',
              '? Winter': 'Winter Olympics',
              '01 !': 'Gold.1',
              '02 !': 'Silver.1',
              '03 !': 'Bronze.1',
              'Total': 'Total.1',
              '? Games': '# Games', 
              '01 !.1': 'Gold.2',
              '02 !.1': 'Silver.2',
              '03 !.1': 'Bronze.2'}

olympics_part3_df.rename(columns = new_names_2, inplace = True)

In [ ]:
olympics_part3_df

In [ ]:
newdf.columns

### Example for .join()
#### DataFrame.join() is a convenient method for combining the columns of two potentially differently-indexed DataFrames into a single result DataFrame.

### Example for .merge()
#### DataFrame.merge() is a method for combining the columns of two DataFrames that may have partially identical indexes into a single resulting DataFrame.

### In class Practice: 
1. Please use .merge or .join combine olympics data part1, part2, part3
2. Calculate the total number of accumulated medals of Summer and Winter Games

### Save to CSV
Please save the complete dataframe to a .csv file and upload your results to GitHub